.site_credits{
  margin-top: 10rem;
}

body, html{
  padding: 0;
  margin: 0;
  width: 100%;
  font-size: 16px;
  background-color: white;
  /*background-color: rgba(17, 43, 40);*/
  /*color: rgb(214, 214, 214);*/
}

body{
  padding-bottom: 10rem;
  overflow-x: hidden;
  display: block;
  width: 90rem;
  margin: 0 auto;
}

a{
  color: black;
  padding-left: 0.2rem;
  padding-right: 0.2rem;
  background-color: rgb(214, 214, 214);
  text-decoration: none;
}

h1, h2, h3, h4, h5, h6, p, ul, li, form{
  padding: 0;
  width: 95%;
  margin: 0 auto;
  box-sizing: border-box;
  transform: rotate(-0.25deg);
}

h1, h2, h3{
  font-family: Arial, sans-serif;
  text-transform: uppercase;
  font-weight: normal;
}



h1{
  font-size: 1rem;
  line-height: 1.2rem;
  text-transform: uppercase;
  letter-spacing: 1rem;
  text-align: center;
}

h2{
  margin-top: 4rem;
  margin-bottom: 2rem;
  font-family: Arial, sans-serif;
  font-size: 1rem;
  line-height: 1.4em;
  letter-spacing: 0.66rem;
  text-align: center;
}

h3{
  margin-top: 1rem;
  font-size: 1rem;
  line-height: 1.4em;
  letter-spacing: 0.25rem;
  margin-bottom: 0.5rem;
  text-align: center;
}

.issue{
  color: red;
  letter-spacing: -0.05em;
}

p, ul{
  font-family: Arial, sans-serif;
  font-size: 1rem;
  line-height: 1em;
  letter-spacing: 0.1rem;
}

p{ text-indent: 10%; }
p:first-of-type{ text-indent: 0%; }

ul{
  list-style: none;
}

li{
  padding-left: 0;
  margin-left: 0;
}


@media(max-width: 1440px){
body, html{
  font-size: 14px;
}
body{
  width: 80rem;
}
}

@media(max-width: 1280px){
  body{
    width: 70rem;
  }
}

@media(max-width: 900px){
  body{
    width: 100%;
  }
}