@media (hover: hover){
  .index_link:hover{
    transform: scale(1.1);
  }
  .button:hover{
    cursor: pointer;
    background-color: rgb(214, 214, 214);
  }
}

.order_1 .index_link:nth-child(19) { order: 18; }
.order_1 .index_link:nth-child(2) { order: 17; }
.order_1 .index_link:nth-child(3) { order: 16; }
.order_1 .index_link:nth-child(4) { order: 15; }
.order_1 .index_link:nth-child(5) { order: 14; }
.order_1 .index_link:nth-child(6) { order: 13; }
.order_1 .index_link:nth-child(7) { order: 12; }
.order_1 .index_link:nth-child(8) { order: 11; }
.order_1 .index_link:nth-child(9) { order: 10; }
.order_1 .index_link:nth-child(10) { order: 9; }
.order_1 .index_link:nth-child(11) { order: 8; }
.order_1 .index_link:nth-child(12) { order: 7; }
.order_1 .index_link:nth-child(13) { order: 1; }
.order_1 .index_link:nth-child(14) { order: 5; }
.order_1 .index_link:nth-child(15) { order: 4; }
.order_1 .index_link:nth-child(16) { order: 3; }
.order_1 .index_link:nth-child(17) { order: 2; }
.order_1 .index_link:nth-child(18) { order: 6; }

.order_2 .index_link:nth-child(19) { order: 2; }
.order_2 .index_link:nth-child(2) { order: 4; }
.order_2 .index_link:nth-child(3) { order: 6; }
.order_2 .index_link:nth-child(4) { order: 8; }
.order_2 .index_link:nth-child(5) { order: 10; }
.order_2 .index_link:nth-child(6) { order: 12; }
.order_2 .index_link:nth-child(7) { order: 14; }
.order_2 .index_link:nth-child(8) { order: 16; }
.order_2 .index_link:nth-child(9) { order: 18; }
.order_2 .index_link:nth-child(10) { order: 17; }
.order_2 .index_link:nth-child(11) { order: 15; }
.order_2 .index_link:nth-child(12) { order: 13; }
.order_2 .index_link:nth-child(13) { order: 11; }
.order_2 .index_link:nth-child(14) { order: 9; }
.order_2 .index_link:nth-child(15) { order: 7; }
.order_2 .index_link:nth-child(16) { order: 1; }
.order_2 .index_link:nth-child(17) { order: 3; }
.order_2 .index_link:nth-child(18) { order: 5; }

.order_3 .index_link:nth-child(18) { order: 2; }
.order_3 .index_link:nth-child(17) { order: 4; }
.order_3 .index_link:nth-child(16) { order: 6; }
.order_3 .index_link:nth-child(15) { order: 8; }
.order_3 .index_link:nth-child(14) { order: 10; }
.order_3 .index_link:nth-child(13) { order: 12; }
.order_3 .index_link:nth-child(12) { order: 14; }
.order_3 .index_link:nth-child(11) { order: 16; }
.order_3 .index_link:nth-child(10) { order: 18; }
.order_3 .index_link:nth-child(9) { order: 17; }
.order_3 .index_link:nth-child(8) { order: 15; }
.order_3 .index_link:nth-child(7) { order: 13; }
.order_3 .index_link:nth-child(6) { order: 11; }
.order_3 .index_link:nth-child(5) { order: 9; }
.order_3 .index_link:nth-child(4) { order: 7; }
.order_3 .index_link:nth-child(3) { order: 5; }
.order_3 .index_link:nth-child(2) { order: 3; }
.order_3 .index_link:nth-child(19) { order: 1; }

h1{
  text-transform: uppercase;
}

p{
  letter-spacing: 0.1em;
  text-indent: 10%;
}

p:first-of-type{ text-indent: 0%; }

#main_index h1{
  text-align: center;
  width: 100%;
  top: 0;
  left: 0;
  box-sizing: border-box;
  z-index: 10;
}

#main_index{
  width: 100%;
  overflow:hidden; 
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
  overflow-y: auto;
  pointer-events: auto;
  z-index: 100;
  position: relative;
  background-color: rgb(210,210,210);
}

#main_index h2{
  text-align: left;
  float: left;
  width: 50%;
  font-size: 1rem;
  padding-right: 2rem;
  margin-top: 0;
  box-sizing: border-box;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  line-height: 1.4em;
}

.index_link{
  margin: 0 2rem;
  margin-bottom: 2rem;
  box-sizing: border-box;
  width: calc(25% - 2rem * 2);
  text-align: center;
  display: inline-block;
  align-items: top;
  letter-spacing: 0.1em;
}

.index_link p{
  margin-top: 0;
  text-align: right;
}

.index_link img{
  display: block;
  width: 50%;
}

.issue_heading{
  padding-top: 0.5rem;
  font-family: 'feeeels_fuzzyregular', Arial, sans-serif;
  text-transform: uppercase;
  font-size: 2rem;
  margin-bottom: 1rem;
  letter-spacing: -0.05em;
  color: white;
  mix-blend-mode: exclusion;
}

.menu{
  position: fixed;
  top: 0rem;
  width: 4%;
  margin-top: 0;
  padding: 0.4rem 0;
  text-align: center;
  left: 0;
}

main{
  text-align: center;
  box-sizing: border-box;
  width: 100%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.content{
  overflow-y: hidden;
  max-height: 12rem;
  box-sizing: border-box;
  padding: 1rem;
  box-sizing: border-box;
  width: 80%;
  margin: 0 auto 0 11%;
  position: relative;
  /*border-radius: 7rem;*/
}

.content:active,
.content.expanded{
  width: 94%;
  /*padding-left: 25%;*/
  margin-left: 4%;
  /*padding-right: 25%;*/
  border-bottom-right-radius: 2rem;
  border-bottom-left-radius: 2rem;
}

.content:not(.expanded) .expand{
  display: block;
  position: absolute;
  bottom: 1rem;
  left: 50%;
  transform: translateX(-50%);
}

.content.expanded .bubble,
.content:active .bubble{
  display: block;
}

.content.expanded .bubble *:not(.expand):not(.image),
.content:active .bubble *:not(.expand):not(.image){
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  font-size: 1.4rem;
}

.content.expanded .bubble .image,
.content:active .bubble .image{
  margin-left: 30%;
  width: 45%;
  cursor: zoom-in;
}

.content.expanded .bubble .image.reference,
.content:active .bubble .image.reference{
  margin-left: 30%;
  width: 30%;
  cursor: zoom-in;
}

.content.expanded{
  position: relative;
}

.content.expanded .bubble .image:active,
.content:active .bubble .image:active{
  margin-left: auto;
  margin-right: auto;
  width: 75%;
  cursor: zoom-out;
  mix-blend-mode: normal;
  filter: grayscale(0);
}

.content .bubble{
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  flex-wrap: wrap;
}

.content .bubble *:not(.expand){
    width: 16.66%;
    display: block;
}

.content .bubble *:not(.image):not(.expand){
    color: white;
    mix-blend-mode: exclusion;
}

.bubble_item{
  margin-bottom: 2rem;
}

.bubble_item.text{
  text-align: left;
}

.bubble_item.reference{
  filter:grayscale(100%);
  -webkit-filter:grayscale(100%);
  mix-blend-mode: multiply;
}


@media (max-width: 1280px){
  .index_link{
    width: calc(33.33% - 2rem * 2);
  }
}

@media (max-width: 900px){
  .index_link{
    width: calc(50% - 2rem * 2);
  }
}

@media (max-width: 768px){
  main{
    width: 100%;
  }

  .index_link h2{
    width: 100%;
  }

  .index_link p{
    display: none;
  }

  .index_link img{
    display: none;
  }
}

@media (max-width: 630px){
  
}
